body {
	margin: 0;
}

.nav-fixed, .nav-hide{
	width: 100%;
	z-index: 999;
}
nav {
	background-color: black;
	position: relative;


}

nav ul {
	position: absolute;
	right: 30px;
	top: 0px;
}

nav li{
	list-style: none;
	display: inline; 
	margin-left: 20px;
	margin-bottom: 20px;
}

nav li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Old Standard TT', serif; 
	text-align: right;
	padding: 15px;

}

nav li a:hover {
	background-color: #1550a1;

}

#logo {
	float: left;
	background-color: black;
	padding: 20px;
}

nav:after {
	content: '';
	display: block;
	clear:both;
}

.container {
	position: relative;
	width: 100%;
	height:0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer {
	height: 100px;
	background-color: black;
}

.nav-hide {

}

.nav-fixed {
	position: fixed;
	left: 0;
	right: 0;
}






































